*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background: #000;
} */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    width: 60%;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: inline;
    text-align: center;
}
h2{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}
button{
    padding: 10px;
    font-size: 1.5em ;
    width: 20%;
    border: 2px solid black;
    border-radius: 20px;
    background: #F0F0F0;
}